.container{
	width: 1200px;
	height: 2555px;
	margin: 0 auto;
	padding-top: 90px;
	padding-left: 192px;
	/*position: relative;*/
}
.container .focus-picture{
	width: 960px;
	height: 480px;
	/*position: absolute;*/
	padding-top: 36px;
}
.focus-picture div{
	width: 240px;
	height: 240px;
	position: relative;
	float: left;
	overflow: hidden;
}
.container .onep{
	width: 480px;
	height: 480px;
}
/*.container .twop{
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
	overflow: hidden;
}
.container .threep{
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
	overflow: hidden;
}
.container .fourp{
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
	overflow: hidden;
}
.container .fivep{
	width: 240px;
	height: 240px;
	float: left;
	position: relative;
	overflow: hidden;
}*/
.focus-picture div a{
	cursor: pointer;
	color: #fff;
}
.focus-picture div img{
	width: 100%;
	transition: all 0.8s;

}
.focus-picture div img:hover{
	transform: scale(1.1);
}
.focus-picture .focus-bg{
	width: 100%;
	height: 80px;
	position: absolute;
	bottom: 0;
	opacity: 0;
	background-color: rgba(0,0,0,0);
}
.focus-picture .focus-bg div{
	width: 30px;
	height: 1px;
	left: 20px;
	bottom: 54px;
	position: absolute;
	border-top: 1px solid #fff;
	/*?*/
	content: '';
}
.focus-picture .focus-title{
	width: 250px;
	height: 18px;
	left: 20px;
	line-height: 20px;
	bottom: 23px;
	position: absolute;
	overflow: hidden;
	font-weight: 200;
	font-size:18px;
	opacity:0;
}
.index-content{
	width: 960px;
	height: 551px;
}
.index-content .ting{
	height: 132px;
	position: relative;
}
.index-content .ting img{
	padding-top: 74px;
}
.index-content .ting p{
	display: block;
	position: absolute;
	top: 70px;
	left: 27px;
}
.index-content .ting-list{
	height: 419px;	
	position: relative;
}
.index-content .ting-cpt{
	width: 299px;
	height: 419px;
	float: left;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}
.index-content .ting-img img{
	width: 299px;
	height: 299px;
	transition: all 0.8s;
}
.index-content div img:hover{
	transform: scale(1.1);
}
/*几个地方共用一个属性的时候，设置宽高是要综合考虑*/
.index-content .ting-info{
	width: 163px;
	height: 80px;
	margin-top: 28px;
	margin-left: 20px;
	position: relative;
}
.index-content .ting-title{
	width: 260px;
	height: 34px;
	font-size: 24px;
	/*超出的文字以省略号显示*/
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.index-content .ting-info a:hover{
	color:#57ad68;
}
.index-content .ting-author{
	width: 98px;
	height: 13px;
	font-size: 13px;
	position: absolute;
	bottom: 31px;
}
.index-content .other{
	width: 258px;
	height: 16px;
	position: absolute;
	bottom: 0;
	font-size: 12px;
	color: #a3a3a3;
}
.index-content .ting-picw{
	height: 419px;
	float: left;
	position: absolute;
	left: 330px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}
.index-content .ting-pict{
	height: 419px;
	float: left;
	position: absolute;
	right: -3px;
	border: 1px solid #e8e8e8;
	overflow: hidden;
}
.more-botton{
	width: 962px;
	height: 855px;
	position: relative;
	/*background: red;*/
}
.more-botton .read{
    height: 132px;	
	top: 72px;
	position: relative;
}
.more-botton .read img{
	position: absolute;
	left: 0;
}
.more-botton .read p{
	display: block;
	position: absolute;		
	padding-left: 27px;
}
.more-botton .read-list{
	/*height: 419px;	*/
	position: relative;
	padding-top: 39px;
}
.more-botton .list-three{
	height: 216px;
	border:1px solid #e8e8e8;
	margin-bottom: 11px;
	/* background: green; */
}
.more-botton .list-three a:hover{
	color: #57ad68;
}
.more-botton .list-wenzi{
	width: 589px;
	height: 180px;
	float: left;
	margin-left: 21px;
}
.more-botton .list-three .title{
	font-size: 26px;
	margin-top: 25px;
	padding-right: 21px;
	right: 21px;
}
.more-botton .list-three .list-by{
	font-size: 15px;
	margin-top: 13px;
}
.more-botton .list-three .list-text{
	font-size: 13px;
	margin-top: 14px;
	color: #a3a3a3;
}
.more-botton .list-three .list-last{
	font-size: 12px;
	margin-top: 25px;
	color: #a3a3a3;
}
.more-botton .list-pic img{
	width: 300px;
	height: 216px;
	float: right;
}
.more-content .renqi{
	width: 196px;
	height: 20px;
	padding-top: 70px;
}                       
.more-content .renqi img{
	/* padding-top: 70px; */
	float: left;
}
.more-content .renqi p{
	display: block;
	position: absolute;
	float: left;
	/* top: 70px; */
	margin-left: 29px;
}
.more-content .more-pics{
	width: 958px;
	height: 266px;
	margin-top: 40px;
}
.more-content .more-pics .more-pic{
	width: 230px;
	height: 265px;
	/* border: 1px solid #a3a3a3; */
	background: url(../image/more.png);
	float: left;
}
.more-content .more-pics .more-pic+.more-pic{
	margin-left: 10px;
}
.more-content .more-fl{
	width: 82px;
	height: 106px;
	margin-top: 73px;
	margin-left: 21px;
	float: left;
}
.more-content .more-fl .small-pic img{
	width: 82px;
	height: 81px;
	border-radius: 50%;
}
.more-content .more-fl .more-music img{
	width: 52px;
	height: 19px;
	margin-left: 14px;
	margin-bottom: 0;
}
.more-content .more-fr{
	width: 79px;
	height: 99px;
	float: left;
	margin-top: 97px;
	margin-left: 32px;
}
.more-content .more-fr .more-name{
	font-size: 15px;
}
.more-content .more-fr .more-name a:hover{
	color: #57ad68;
}
.more-content .more-fr .more-text{
	font-size: 12px;
	color: #a3a3a3;
	margin-top: 8px;
}
.back-top{
	height: 223px;
}
.back-top .back-content{
	width: 192px;
	height: 57px;
	margin-left: 385px;
	margin-top: 84px;
	border: 1px solid rgba(120, 188, 133, .6);
	border-radius: 25px;
	/* background: red; */
}
.back-top .back-box{
	width: 182px;
	height: 47px;
	margin-top: 5px;
	margin-left: 5px;
	border: 1px solid rgba(120, 188, 133, .6);
	border-radius: 25px;
	background: #7dbe83;
}
.back-top .back-text{
	font-size: 16px;
	text-align: center;
	line-height: 47px;
	color: #fff;
}
.back-top a:hover{
	color: #57ad68'
} 