.navbar li{
	width: 84px;
	height: 90px;
	line-height: 90px;
	color: black;
	text-align: center;
	float: left;
	font-size: 16px;
}
.navbar li a{
	padding: 18px;
	color: #333;
}
.header .navbar-icon{
	/* display: inline-block; */
	width: 200px;
	height: 90px;
	float: right;
}
.header .editer{
	width: 44px;
	height: 44px;
	/*margin-right: 25px;*/
	margin-top: 25px;	
	border: 1px solid #57ad68;
	border-radius: 50%;	
	vertical-align: middle;  /*水平居中*/
	cursor: pointer; /*鼠标光标的变化*/
	box-sizing: border-box;
}
.header .editer div{
	position: absolute;
	width: 38px;
	height: 38px;
	margin-top: 1.5px;
	margin-left: 2px;
	background: rgba(101,181,117,0.9);
	border-radius: 50%;
}
.header .editer img{
	width: 19px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -9.5px;
	margin-top: -10px;
}
.header .login-btn{
	width: 126px;
	height: 44px;
	margin-top: -44px;
	margin-left: 68px;
	line-height: 44px;
	text-align: center;
	font-size: 14px;
	font-weight: 200;
	border: 1px solid rgba(120,188,133,0.5);
	box-sizing: border-box;
	border-radius: 25px;
	color: #57ad68;
	cursor: pointer;
}
.content{
    position: relative;
    top: 90px;
}
.content .slider{
    width: 1135px;
    height: 454px;
    overflow: hidden;
    margin-left: 147px;
    margin-right: 147px;
    background: red;
}
.content .slider ul{
	width: 962px;
    height: 376px;
    margin-top: 52px;
	margin-left: 85px;
	position: relative;
	background: green;
}
.content .slider ul li{
	float: left;
}
.content .slider .slider-one img{
	width: 640px;
	height: 375px;
	position: absolute;
	left: 161px;
	z-index: 8;
}
.content .slider .slider-two{
	width: 493px;
	height: 289px;
	position: absolute;
	left: 0;
	top: 33px;
	z-index: 6;
}
.content .slider .slider-three{
	width: 410px;
	height: 240px;
	position: absolute;
	top: 53px;
	left: 300px;
	z-index: 4;
}
.content .slider .slider-four{
	width: 341px;
	height: 200px;
	position: absolute;
	top: 73px;
	left: 320px;
	z-index: 2;
}
.content .slider .slider-five{
	width: 256px;
	height: 150px;
	position: absolute;
	top: 93px;
	left: 50px;
	z-index: 0;
}
.content .slider .slider-six{
	width: 493px;
	height: 289px;
	position: absolute;
	top: 33px;
	left: 467px;
	z-index: 6;
}
.content-user{
	width: 961px;
	height: 384px;
	margin-left: 232px;
}
.content-user .fenlei{
	width: 196px;
	height: 20px;
	padding-top: 70px;
}
.content-user .fenlei img{
	float: left;
}
.content-user .fenlei p{
	display: block;
	position: absolute;
	float: left;
	margin-left: 29px;
}
.content-user .picgroups{
	width: 961px;
	height: 255px;
	margin-top: 39px;
	/* background: red; */
}
.content-user .picgroups .list{
	height: 84px;
	position: relative;
}
.content-user .picgroups .list .list-pic{
	width: 191px;
	height: 84px;
	margin-bottom: 1px;
	margin-right: 1px;
	float: left;
	overflow: hidden;
	position: relative;
}
.content-user  .list-pic a{
	position: absolute;
	height: 100%;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
}
.content-user  .list-pic img{
	width: 100%;
	transition: all 0.4s;
	/* opacity:0.6; */
}
.content-user div a:hover{
	transform: scale(1.1);
}
.content-user.list-pic span{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}
.content-user .list-pic .type-bg{ 
	position: absolute;
	top: 0;
	width: 191px;
	height: 84px;
	background-color: rgba(0, 0, 0, 0.2);
}
.content-user  .list-pic .wenzi{
	width: 100%;
	height: 20px;
	color: #fff;
	position:absolute; 
	top:29px;
	left: 54px;
	z-index:2; 
    overflow: hidden;   
    white-space: nowrap;
	text-overflow: ellipsis;
	/* background-color: rgba(0, 0, 0, 0.2); */
}
.content-user .list-pic .story{
	position:absolute; 
	top: 54px;
	left: 45px;
	color: #fff;
	font-weight: 100;
    font-size: 12px;	
    opacity: .8;		
	z-index:2;
}
.articles{
	width: 961px;
	height: 825px;
	margin-left: 232px;
}
.articles .wenzhang{
	width: 196px;
	height: 20px;
	padding-top: 70px;
}
.articles .wenzhang img{
	float: left;
}
.articles .wenzhang p{
	display: block;
	position: absolute;
	float: left;
	margin-left: 29px;
}
.articles .hot{
	height: 693px;
	margin-top: 39px;
}
.articles .hot .hot-afd{
	height: 219px;
	margin-bottom: 12px;
	border: 1px solid #e8e8e8;
}
.articles .hot .hot-afd a:hover{
	color: #57ad68;
}
.articles .hot .hot-afd .hot-title{
	font-size: 22px;
	margin-top: 25px;
	margin-left: 24px;
}
.articles .hot .hot-afd .hot-author{
	font-size: 11px;
	margin-top: 3px;
	margin-left: 24px;
}
.articles .hot .hot-afd .hot-nr{
	font-size: 13px;
	margin-top: 9px;
	margin-left: 24px;
	color: #a3a3a3;
	/* overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; */
}
.articles .hot .hot-afd .hot-view{
	font-size: 12px;
	margin-top: 28px;
	margin-left: 24px;
	color: #a3a3a3;
}
.content-pics{
	width: 961px;
	height: 798px;
	margin-left: 232px;
	position: relative;
}
.content-pics .content-pics-imgo{
	height: 216px;	
	position: absolute;
	top: 60px;
	overflow: hidden;
}
.content-pics .content-pics-imgt{
	height: 216px;	
	position: absolute;
	top: 326px;
	overflow: hidden;
}
.content-pics .content-pics-imgh{
	height: 216px;	
	position: absolute;
	top:582px;
	overflow: hidden;
}
.content-pics div img{
	width: 100%;
	transition: all 0.8s;
}
.content-pics div img:hover{
	transform: scale(1.1);
}
.foot{
	top: 160px;
}